article {
  width: 100%;
  height: 100%;
  max-height: auto;
  z-index: 1;
  background: white;
  text-align: center;
  padding: 0;
}
article > div {
  width: 100%;
  max-width: 1200px;
  padding: 30px 20px;
  margin: 0 auto;
}

.faq > :first-child {
  background: #eee;
  padding: 60px 20px 50px;
}

.faq > :first-child > :nth-child(3) {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 30px auto;
}
.faq > :first-child > :nth-child(3) input {
  border: 0px;
}
.faq > :first-child > :nth-child(3) i {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 20px;
  font-size: 1.3rem;
}

.checked {
  background: rgb(255, 236, 125);
}

.faq_tab > :first-child ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;
}
.faq_tab > :first-child ul li {
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  white-space: nowrap;
}
.faq .accodion_btn,
.top_faq .accodion_btn {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  text-align: left;
}
.faq .accodion_btn:hover,
.top_faq .accodion_btn:hover {
  background: #666;
  color: white;
}

.faq .accodion_btn p,
.top_faq .accodion_btn p {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.faq .accodion_btn.active p,
.top_faq .accodion_btn.active p {
  white-space: normal;
}

.faq .accodion_btn::after,
.top_faq .accodion_btn::after {
  content: "+";
  font-weight: bold;
  float: right;
  right: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  transition: 0.4s;
}

.faq .accodion_btn.active::after,
.top_faq .accodion_btn.active::after {
  content: "-";
}

.faq .course-panel,
.top_faq .course-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #eee;
  line-height: 1.4rem;
  font-size: 1rem;
}

.faq .course-panel > div,
.top_faq .course-panel > div {
  padding: 20px 20px 40px;
  text-align: left;
}

.top_faq h4 {
  text-align: left;
  margin-top: 120px;
  padding: 0 20px;
}

.top_faq > :first-child {
  background: rgb(255, 236, 125);
  padding: 1px 20px 30px;
}

.faq_num_tab ul {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.faq_num_tab ul li {
  margin: 0 12px;
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  transition: 0.3s;
}

.faq_num_tab ul li.check {
  font-size: 1.2rem;
  color: #111;
}

@media screen and (min-width: 1366px) {
  article {
    padding: 0;
    margin: 0;
  }
  article > div {
    padding: 40px 0 60px;
  }
  .faq > :first-child {
    padding: 60px 0 50px;
  }
}
